*{

    margin: 0;

    padding: 0;

    font-family: sans-serif;

    box-sizing: border-box;

}
.Header{

    width: 100%;

    height: 100vh;

    background-image: linear-gradient(rgba(30,30,30,0.75),rgba(30,30,30,0.75)),url(images/pizza\ background.png);

    background-size: cover;

    background-position: center;

}
.navbar{

    width: 100%;

    padding: 0 10px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    background-color: black;
}
.navbar ul li{

    list-style-type: none;

    display: inline-block;

    margin:  20px;

}
.navbar ul li a{

    text-decoration: none;

    font-weight: bold;

    color: #fff;

    transition: ease 0.3s;

}
.navbar ul li a:hover{

    transform: scale(1.1);

    border: 1px solid;

    border-radius: 30px;

    padding:  10px 40px;

    background: #FF3131;

    box-shadow: 10px 10px 13px -4px rgba(255,0,0,0.75);

}

.content{

    color: #fff;

    position: absolute;

    top: 50%;

    right: 5px;

    text-align: right;

    width: 100%;

}
.content h1{


    font-size: 50px;

    font-family:  'Trump Town Pro', sans-serif;

}
.content p{

    margin: 20px auto;

    font-size: 16px;

    font-weight: 100;

    line-height: 25px;

}
.content button{

   width: 150px;

   padding: 15px 0;

   border: 2px solid #FF3131;

   background: transparent;

   color: #fff;

   margin: 10px 20px 10px 0;

   transition: ease 0.3s;

}
button:hover{

    transform: scale(1.1);

    background: #FF3131;

    box-shadow: 10px 10px 13px -4px rgba(255,0,0,0.75);
    
    border: none;

}
.btn_order{

    background-color: #FF3131;

}
.btn_order:hover{

    background: transparent;
    
}
.content_section{

    width: 100%;

    height: 600px;

    display: flex;

    padding: 50px 80px;

    justify-content: center;

    align-items: center;

}
.content_section .col{

    text-align: center;

    margin: 0 30px;

}
.content_section .col h3{

    text-transform: uppercase;

    margin: 30px 0;

    font-size: 1em;

    font-family: 'Assistant', sans-serif;
    
    font-weight: bold;

}
.pic{

    width: 150px;

    height: 150px;

    border-radius: 80px;

    margin-bottom: 30px;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
.content_section .col p{
    
    font-family: 'Assistant', sans-serif;

    font-size: 18px;

    line-height: 21px;

}
.main_content{

    width: 100%;

    background-color: aquamarine;

}
.main_content h1{

    text-align: center;

    padding: 30px 0 0;

    font-family: 'Assistant', sans-serif;

    font-size: 2.2em;

}
.main_content hr{

    width: 15%;

    margin: 1px auto 0;

    border-top: 3px solid rgb(90, 42, 9);
}
.footer-top{

    width: 100%;

    background-color: #3f3b3b;

    color: #f5eded;

    padding: 60px 0;

    display: flex;

    justify-content: center;

}
.footer div{

    text-align: center;

}
.footer div h3{

    letter-spacing: 1px;

    font-weight: 400;

    margin-bottom: 30px;

}
.footer .col-1 a{

    text-decoration: none;

    color: #f5eded;

    display: block;

    text-align: left;

    margin-bottom: 5px;

}
.footer .col-2{

    flex-grow: 0.5;

}
form input{

    border: none;

    border-radius: 5px;

    outline: none;

    width: 300px;

    height: 40px;

    text-align: center;

    margin-bottom: 30px;

}
form button{

    padding: 10px 30px;

    border: 2px solid #f5eded;

    border-radius: 30px;

    background: transparent;

    color: #f5eded;

    font-size: 10px;

}
.social-links{

    margin-top: 30px;

}
.social-links a{

    text-decoration: none;


}
.social-links a i{

    font-size: 22px;

    margin: 0 5px;

    color: #f5eded;

}
.social-links i:hover{

    color: #a5e9e1;

}
.footer-bottom{

    width: 100%;

    background-color: #575151;

    color: #f5eded;

    padding: 20px 0;

    text-align: center;

}
.footer-bottom p{

    font-size: 15px;

    word-spacing: 2px;

    line-height: 1.5rem;

}
.footer-bottom span{

    text-transform: uppercase;

    color: #111111;

    font-weight: 500;
    
}
